.meals-grid {
  display: grid;
  gap: 10px;
}
.meal-item {
  background-color: white;
  padding: 30px 40px;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
  cursor: pointer;
  transition: border 0.3s, background-color 0.3s;
}
.meal-item img {
  width: 100%;
  height: auto;
  border-radius: 35px;
}
.meal-item p {
  margin: 10px 0;
}
.meal-name {
  font-size: 1.2em;
}
.meal-price {
  font-size: 1.5em;
}
.meal-weight {
  color: gray;
}
.meal-item button {
  margin-top: auto;
  padding: 10px 30px;
  background-color: #f1eee9;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.meal-item:hover {
  border: 2px solid rgb(195, 156, 221);
}
.meal-item:hover button {
  background-color: rgb(195, 156, 221);
}

.form-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0 20px;
}

.order-section,
.customer-section {
  flex: 1;
  padding: 15px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

legend {
  font-weight: bold;
  margin-bottom: 10px;
}

#order-summary h3 {
  margin-top: 30px;
  font-weight: bold;
}

#order-summary p {
  margin: 10px 0;
  font-size: 14px;
}

.total-cost {
  font-weight: bold;
  font-size: 14px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

label.inline-label {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
}

small {
  font-size: 12px;
  color: #555;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="time"],
textarea,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 35px;
  box-sizing: border-box;
}

.form-buttons {
  margin-top: 20px;
  text-align: left;
}
h2 {
  padding: 15px;
}
button {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: white;
  color: black;
  border: 2px solid #ccc;
  border-radius: 35px;
  cursor: pointer;
}

button[type="reset"]:hover {
  background-color: #720000;
  color: white;
}

button[type="submit"]:hover {
  background-color: rgb(195, 156, 221);
  color: white;
}

.filters button {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.filters button.active {
  background-color: rgb(195, 156, 221);
  color: white;
}

.lunch-combo {
  text-align: center;
  padding: 20px;
}

.lunch-combo-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.combo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}

.combo-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  border: 1px solid #ddd;
  border-radius: 35px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.combo-item .dish {
  margin: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
}

.dish-img {
  width: 40px ;
  height: 40px ;
  margin-bottom: 5px;
  transition: transform 0.3s ease;
}

.dish-img:hover {
  transform: translateY(-5px) scale(1.1);
}

.dessert-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dessert-item .dish {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dessert-item .dessert-note {
  margin-top: 10px;
  font-size: 12px;
  color: #666;
  text-align: center;
}
@media (min-width: 800px) {
  .meals-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .combo-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  h1 {
    text-align: center;
  }
  .dessert-item .dessert-note {
    white-space: nowrap;
  }  
}

@media (min-width: 600px) and (max-width: 799px){
  .meals-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .combo-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  h1 {
    text-align: center;
  }
  .dessert-item .dessert-note {
    white-space: none;
  } 
}

@media (min-width: 400px) and (max-width: 599px) {
  .meals-grid {
    grid-template-columns: 1fr;
  }
  .combo-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  h1,
  section h2 {
    text-align: center;
  }
  .form-container {
    flex-direction: column;
  }
  .order-section,
  .customer-section {
    width: 100%;
    padding: 10px;
  }
  .dessert-item .dessert-note {
    white-space: none;
  } 
}
